@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Yogendra Blog</title>
   
    @Styles.Render("~/Content/theme/css")   

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">
</head>
<body>


    <!-- Preloader Start -->
    <div class="preloader">
        <div class="rounder"></div>
    </div>
    <!-- Preloader End -->




    <div id="main">
        <div class="container">
            <div class="row">



                <!-- About Me (Left Sidebar) Start -->
                <div class="col-md-3">

        
                    <div class="about-fixed">
                      

                        <div class="my-pic">
                            <img src="~/Content/images/Visit-my-blog.png" alt="">
                            <a href="javascript:void(0)" class="collapsed" data-target="#menu" data-toggle="collapse"><i class="icon-menu menu"></i></a>
                            <div id="menu" class="collapse">
                                <ul class="menu-link">
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="work.html">Work</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>



                        <div class="my-detail">

                            <div class="white-spacing">
                                <h1>Yogendra Singh</h1>
                                <span>.Net Developer</span>
                            </div>

                            <ul class="social-icon">
                                
                                <li><a href="https://www.linkedin.com/in/yogendra-singh-647385102/" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://github.com/yogendrasinghmehra" target="_blank" class="github"><i class="fa fa-github"></i></a></li>
                            </ul>

                        </div>

                        @Html.Action("subjectsList", "Home")
                    </div>
                </div>
                <!-- About Me (Left Sidebar) End -->
                <!-- Blog Post (Right Sidebar) Start -->
                <div class="col-md-9">
                    <div class="col-md-12 page-body">

                        @RenderBody()

                      
                        <!-- Footer Start -->
                        <div class="col-md-12 page-body margin-top-50 footer">
                            <footer>
                                <ul class="menu-link">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="work.html">Work</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>

                                <p>© Copyright 2017 Yogendra Blog. All rights reserved</p>                                

                            </footer>
                        </div>
                        <!-- Footer End -->


                    </div>
                    </div>
                <!-- Blog Post (Right Sidebar) End -->

            </div>
        </div>
    </div>



    <!-- Back to Top Start -->
    <a href="#" class="scroll-to-top"><i class="fa fa-long-arrow-up"></i></a>
    <!-- Back to Top End -->


    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Yogi Blog", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Who i am?", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if (Request.IsAuthenticated)
                    {
                        <li><a>@User.Identity.Name</a></li>
                        <li>@Html.ActionLink("Log Out", "LogOut", "Auth")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Log In", "Login", "Auth")</li>
                    }

                </ul>

            </div>
        </div>
    </div>

    <div class="container" style="margin-top:100px;">

        <div class="row">
            <div class="col-md-9">
                @RenderBody()
                </div>
                <div class="col-md-3">
                    @Html.Action("subjectsList", "Home")
                </div>
            </div>
    </div>

    

    <footer>
        <p>&copy; @DateTime.Now.Year - Yogendra Blog</p>
    </footer>*@


   


    @Scripts.Render("~/bundles/theme")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)

</body>

</html>
@*new font-#691A99
old font-#1abc9c*@