@model IEnumerable<blogs.Areas.Admin.Models.topics>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.subject_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.topic_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.topic_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.topic_example)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified_date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.subject_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.topic_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.topic_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.topic_example)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified_date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
