@model blogs.Areas.Admin.Models.Blog
@{
    ViewBag.Title = "Topic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/page_styles/topic.css" rel="stylesheet" />



<div class="row">


    <div class="sub-title">
        <a href="index.html" title="Go to Home Page"><h2>Back Home</h2></a>
        <a href="#comment" class="smoth-scroll"><i class="icon-bubbles"></i></a>
    </div>


    <div class="col-md-12 content-page">
        <div class="col-md-12 blog-post" style="display: block;">


            <!-- Post Headline Start -->
            <div class="post-title">
                <h1>@Model.BlogTitle</h1>
            </div>
            <!-- Post Headline End -->
            <!-- Post Detail Start -->
            <div class="post-info">
                <span>@String.Format("{0:f}", Model.CreatedDate)</span>
            </div>
            <!-- Post Detail End -->


           @Html.Raw(Model.BlogDescription) 


        </div>
        <ul class="social-icon">
           @if(@ViewBag.likeStatus)
            {
            <li><a class="github link_like" title="UnLike" data-id="@Model.BlogId"><i class="fa fa-thumbs-up"></i></a></li>
            }
            else
            {
            <li><a class="github link_like" title="Like" data-id="@Model.BlogId"><i class="fa fa-thumbs-o-up"></i></a></li>
            }
            
            <li><a href="#" class="github"><i class="fa fa-comment-o "></i></a></li>
        </ul>

    </div>

</div>
@section scripts{
    
<script src="~/Scripts/page-scripts/full-blog.js"></script>   
    
    
     
    }


       
            
       


   