@model List<blogs.Areas.Admin.Models.Blog>
@{
    ViewBag.Title = "Home";
}

<link href="~/Content/page_styles/index.css" rel="stylesheet" />



    <div class="row">


        <div class="sub-title">
            <h2>My Blogs</h2>
            <a href="contact.html"><i class="icon-envelope"></i></a>
        </div>


        <div class="col-md-12 content-page">

@{
    if (Model.Count > 0)
    {
        foreach (var blog in Model)
        {
             <!-- Blog Post Start -->
            <div class="col-md-12 blog-post">
                <div class="post-title">
                    <a href="single.html"><h1>@blog.BlogTitle</h1></a>
                </div>
                <div class="post-info">
                    <span>@blog.CreatedDate</span>
                </div>
                <div class="blog_content">
                    @Html.Raw(blog.BlogDescription)
                </div>
                
                @Html.ActionLink("View Full Blog", "Blog", "Home", new { id = blog.BlogId }, new { @class = "button button-style button-anim fa fa-long-arrow-right" })
            </div>
            <!-- Blog Post End -->
        }
    }
}


           
          


            

        </div>

    </div>



  



@*<div class="dv_main">
   
        @{
            if (Model.Count > 0)
            {
                foreach (var blog in Model)
                {

                    <div class="dv_blog">
                        <div class="dv_head">
                            <h3>@blog.BlogTitle </h3>

                            @Html.ActionLink("View Blog...", "Blog", "Home", new { id = blog.BlogId }, new { @class = "rd_more" })
                        </div>
                        <small class="date_publish">Posted On @blog.CreatedDate</small>
                        <hr />
                    </div>
                }
            }
            else
            {
                <strong class="text-center"> No Record found...</strong>
            }
        }




   
    
</div>*@