@model blogs.Areas.Admin.Models.Blog

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tags.TagName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags.TagName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogExampleUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogExampleUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BlogId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
